<h3>View Employee Details</h3>

<div class="container" *ngIf="employee" style="font-size: 40px;">
    <div>
    <strong>ID:</strong> {{ employee.id }}
  </div>
  <div>
    <strong>Name:</strong> {{ employee.name }}
  </div>
  <div>
    <strong>Email:</strong> {{ employee.email }}
  </div>
  <div>
    <strong>Age:</strong> {{ employee.age }}
  </div>
  <div>
    <strong>Salary:</strong> {{ employee.salary }}
  </div>
  <div>
    <strong>CV:</strong> {{ employee.cv }}
  </div>
  <div>
    <strong>Image:</strong> {{ employee.image }}
  </div>
  <div>
    <strong>Address:</strong> {{ employee.address }}
  </div>
  <div>
    <strong>Birthday:</strong> {{ employee.birthday | date:'short' }}
  </div>
  <div>
    <strong>Gender:</strong> {{ employee.gender }}
  </div>
  <div>
    <strong>Department:</strong> {{ employee.department }}
  </div>
</div>
